<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="margin-top:1rem">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="camp_cpc">camp_cpc</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-number formControlName="camp_cpc"></nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="date">date</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-date-picker formControlName="date"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="time">time</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-time-picker formControlName="time"></nz-time-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="freeClick">freeClick</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <label nz-checkbox formControlName="freeClick"></label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="network">network</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-radio-group formControlName="network">
        <label nz-radio nzValue="a">a</label>
        <label nz-radio nzValue="b">b</label>
      </nz-radio-group>
      <!-- <input nz-input formControlName="network"> -->
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="PlistaProduct">PlistaProduct</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <!-- <input nz-input formControlName="PlistaProduct"> -->
      <nz-select style="width: 120px;" formControlName="PlistaProduct" nzAllowClear>
        <nz-option nzValue="Product 1" nzLabel="Product 1"></nz-option>
        <nz-option nzValue="Product 2" nzLabel="Product 2"></nz-option>
        <nz-option nzValue="Product 3" nzLabel="Product 3"></nz-option>
        <nz-option nzValue="Product 4" nzLabel="Product 4"></nz-option>
        <nz-option nzValue="Product 5" nzLabel="Product 5"></nz-option>
        <nz-option nzValue="Product 6" nzLabel="Product 6"></nz-option>
        <nz-option nzValue="Product 7" nzLabel="Product 7"></nz-option>
        <nz-option nzValue="Product 8" nzLabel="Product 8"></nz-option>
        <nz-option nzValue="Product 9" nzLabel="Product 9"></nz-option>
        <nz-option nzValue="Product 10" nzLabel="Product 10"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
<button nz-button nzType="ghost" (click)='logRecord()'>LogRecord</button>