<nz-table #editRowTable nzBordered [nzData]="dataSet">
  <thead>
    <tr>
      <th nzWidth="10%">camp_cpc</th>
      <th nzWidth="15%">date</th>
      <th nzWidth="10%">time</th>
      <th nzWidth="10%">freeclick</th>
      <th nzWidth="10%">network</th>
      <th nzWidth="15%">PlistaProduct</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">

      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.camp_cpc}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.key].data.camp_cpc"> -->
          <nz-input-number [(ngModel)]="editCache[data.key].data.camp_cpc" [nzMin]="0" [nzMax]="3" [nzStep]=".05"></nz-input-number>
        </ng-container>
      </td>

      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.date | date:'dd.MM.yyyy'}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.key].data.date"> -->
          <nz-date-picker [(ngModel)]="editCache[data.key].data.date" [nzFormat]="dateFormat"></nz-date-picker>
        </ng-container>
      </td>

      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.date | date:'hh:mm'}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.key].data.date"> -->
          <!-- TODO: save time input -->
          <nz-time-picker [(ngModel)]="editCache[data.key].data.date" nzFormat="HH:mm"></nz-time-picker>
        </ng-container>
      </td>

      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.freeclick | freeclickString}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.key].data.freeclick"> -->
          <label nz-checkbox [(ngModel)]="editCache[data.key].data.freeclick"></label>
        </ng-container>
      </td>

      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.network}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.key].data.network"> -->
          <nz-radio-group [(ngModel)]="editCache[data.key].data.network">
            <label nz-radio nzValue="a">a</label>
            <label nz-radio nzValue="b">b</label>
          </nz-radio-group>
        </ng-container>
      </td>

      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.PlistaProduct}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.PlistaProduct">
        </ng-container>
      </td>

      <!-- OPERATIONS: edit -->
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!editCache[data.key].edit">
            <a (click)="startEdit(data.key)">Edit</a>
          </ng-container>
          <ng-container *ngIf="editCache[data.key].edit">
            <a (click)="saveEdit(data.key)">Save</a>
            <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(data.key)">
              <a nz-popconfirm>Cancel</a>
            </nz-popconfirm>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>